#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  width: 200px;
  border: none;
  background: linear-gradient(to right, #7867ed, #ff84c4);
  color: #fff;
}
